VITE_PRIVY_APP_ID=replace-with-your-privy-app-id

VITE_CHAIN_ID=4663
VITE_CHAIN_NAME=Robinhood Chain
VITE_RPC_URL=https://rpc.mainnet.chain.robinhood.com
VITE_EXPLORER_URL=https://robinhoodchain.blockscout.com

VITE_PONS_V2_FACTORY_ADDRESS=0x7eD598BcEf8bd9Edd8C97A195C6d13f40801EC7e
VITE_PONS_V2_MEME_HOOK_ADDRESS=0xE5e702641Ea86F4ae6cC3cDaeD2B886f976Be044
VITE_PONS_V2_FEE_ESCROW_ADDRESS=0xd3AFEB2a57f70eF218Aa82451c51B2fb0416Ac9e
VITE_PONS_V2_BUYBACK_VAULT_ADDRESS=0x42df2a798f82289E177311362e8f5ccC45c1219c
VITE_PONS_V2_LAUNCH_LOCKER_ADDRESS=0x267444D099b10fB5Ed7c3Cc7B7c767AdcA574952
VITE_PONS_V2_LAUNCH_AND_BUY_ADDRESS=0xe33E9E479dF8802cb0866d5d05258bEc4cF62948
VITE_PONS_V2_LAUNCH_DEPLOYER_ADDRESS=0x3711ceA4feaDE896C913C68F01Eda97Cb06D1A42
VITE_PONS_V2_GRADUATION_EXECUTOR_ADDRESS=0xC7819B64A1dAECD7eC19856d026cb14EfBd89046
VITE_PONS_V2_GRADUATION_GUARD_ADDRESS=0xf5695117b99B6f6401e67d4195BD653628176C6C

VITE_IMAGE_URL=https://example.com/token-image.jpg
